/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-input{
    border-radius: 2px !important;
    padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid rgb(62,186,132) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 50vw; // this is applying perfectly
    max-height: 10vh;
    width: 80%;
}
@media (max-width:500px) {
    ion-input{
        border-radius: 2px !important;
        padding-right: 30px;
        font-size: 0.9em;
        border: 1px solid rgb(62,186,132) !important;
        /* height: 10%; */
        /* width: 41%; */
        max-width: 100vw; // this is applying perfectly
        max-height: 10vh;
        width: 100%;
    }
    ion-select{
        width: 60% !important;
        border-radius: 2px !important;
        border: 1px solid rgb(62,186,132);
        max-width: 100vw; // this is applying perfectly
        max-height: 6vh;
    }
}
ion-select{
    width: 50% !important;
    border-radius: 2px !important;
    border: 1px solid rgb(62,186,132);
    max-width: 50vw; // this is applying perfectly
    max-height: 6vh;
}

.sc-ion-modal-md-h {
    --width: 600px;
    --height: 600px;
   
}

ion-segment-button:focus-visible{
    outline: none !important;

  }
  ion-segment:focus-visible{
    outline: none !important;
    background: none !important;
    --ion-background-color: transparent !important;
    --ion-background: transparent !important;
    --background: white !important;
  }